<%- include('partials/header') %>


    <div class="jumbotron centered">
        <div class="container">
            <span class="material-symbols-outlined size-60">key</span>
            <h2 class="display-3">SECRETS</h2>
            <p class="lead">Don't keep your secrets, share them anonymously!</p>
            <hr>
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
       
        </div>
    </div>

    <%- include('partials/footer') %>