<%- include('partials/header') %>

    <div class="jumbotron text-center">
        <div class="container">
            <span class="material-symbols-outlined size-60">key</span>
            <h1 class="display-3">You've Discovered My Secret!</h1>

            <% usersWithSecrets.forEach((user) => { %>
                <% const allSecrets = user.secrets; %>
                <% allSecrets.forEach((secretItem) => { %>
                    <p class="secret-text"><%=secretItem%></p>
                    <% }); %>
                        <% }); %>


                            <hr>
                            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
                            <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
        </div>
    </div>

    <%- include('partials/footer') %>